.connect {
  z-index: 3;
  position: relative;
  opacity: 0;
  transition: all 0.6s ease-in;
  #{&}-header {
    font-family: "Teko", sans-serif;
  }
  .form {
    form {
      label {
        display: block;
      }
      input,
      textarea {
        border: none;
        background-color: #1a1a1d;
        border-bottom: 1px solid white;
        color: white;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      label + input,
      label + textarea {
        margin-bottom: 1rem;
      }
      textarea {
        height: 30vh;
      }
      > div {
        padding-inline: 0.5rem;
        padding-block: 0.25rem;
        margin-block: 1rem;
      }
      .button {
        button {
          color: #1a1a1d;
          background: white;
          padding: 0.15rem 0.75rem;
          font-size: 1.5rem;
          border: none;
          box-shadow: -1px 5px 5px 2px black;
          transition: all 0.3s linear;
          &:active {
            transform: translate(-1px, 5px);
            box-shadow: 0 0 0 0 black;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    #{&}-header {
      align-self: baseline;
    }
    .form {
      width: 90%;
      form {
        div {
          margin-block: 1rem;
        }
        .name-email {
          display: flex;
          width: 100%;
          gap: 1rem;
          div {
            width: 100%;
          }
        }
        .message {
          height: 30vh;
          textarea {
            height: 98%;
          }
        }
      }
    }
  }
}

.form-transition {
  opacity: 1 !important;
}
