.skills {
  position: relative;
  z-index: 4;
  width: 100%;
  overflow: hidden;
  margin-top: 3.5rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  ::after {
    content: "scroll →";
    position: fixed;
    bottom: 0;
    right: 1rem;
    font-size: 1rem;
    transform: scaleX(125%);
  }

  transform: translateY(80%);

  ul {
    display: flex;
    position: relative;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    overflow: scroll;
    padding-inline: 2rem;
  }
}

// @keyframes slide {
//   0% {
//     transform: translateX(0);
//   }
//   20% {
//     transform: translateX(-16%);
//   }
//   40% {
//     transform: translateX(-16%);
//   }
//   60% {
//     transform: translateX(-32%);
//   }
//   80% {
//     transform: translateX(-32%);
//   }
//   100% {
//     transform: translateX(-48%);
//   }
// }

@keyframes slide {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  100% {
    transform: matrix(1, 0, 0, 1, -2609.619140625, 0);
    opacity: 1;
  }
}

// @keyframes slide {
//   to {
//     transform: translateX(-300%);
//   }
// }
