.skills {
  border: 1px solid;
  position: relative;
  z-index: 4;
  width: 100%;
  overflow: hidden;
  margin-top: 3.5rem;
  ul {
    display: flex;
    border: 1px solid;
    overflow: hidden;
    width: 150%;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    overflow: scroll;
    animation: slide 4s linear infinite 5s;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-16%);
  }
  40% {
    transform: translateX(-16%);
  }
  60% {
    transform: translateX(-32%);
  }
  80% {
    transform: translateX(-32%);
  }
  100% {
    transform: translateX(-48%);
  }
}
