@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");

body {
  padding: 0;
  position: relative;
  #root {
    position: relative;
    .App {
      background: url(../img/boston.jpg) no-repeat center center fixed;
      background-size: cover;
      position: relative;
      padding-inline: 1.5rem;
      @media (min-width: 768px) {
        padding-inline: 3rem;
      }
      color: white;
      z-index: 0;
      height: 100%;
      .cover {
        position: fixed;
        inset: 0;
        background: black;
        z-index: 1;
        mix-blend-mode: hard-light;
        inset: 0;
        margin: auto;
        .hole {
          position: fixed;
          width: 100%;
          height: 100%;
          background: gray;
          z-index: 2;
          inset: 0;
          margin: auto;
          transition: all 0.5s ease-out;
        }
      }
    }
  }
}

.transform-hole {
  width: 43vh !important;
  height: 43vh !important;
  transform: rotate(225deg) skew(30deg, 30deg);
}